<div class="news">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      <tr>
            <th scope="row" style="width: 20%">Nov 01, 2023</th>
            <td>
                <a class="news-title" href="https://www.auckland.ac.nz/en/engineering/our-research/discover/exploring-the-intersection-of-ai-robotics-and-space-technologies-in-the-future-of-work.html">Exploring the intersection of AI, robotics, and space technologies in the future of work</a>
            </td>
          </tr>
      <tr>
            <th scope="row" style="width: 20%">Oct 21, 2023</th>
            <td>
                <a class="news-title" href="https://www.youtube.com/watch?v=rDinvHYYLCk">Research aspirations towards empathetic human-robot collaboration</a>
            </td>
          </tr>
                          <tr>
            <th scope="row" style="width: 20%">Jul 18, 2023</th>
            <td>
                <a class="news-title" href="https://www.sftichallenge.govt.nz/blending-cutting-edge-science-and-commercial-potential/">Blending cutting-edge science and commercial potential</a>
            </td>
          </tr>
                    <tr>
            <th scope="row" style="width: 20%">Jul 14, 2023</th>
            <td>
                <a class="news-title" href="https://www.spark.co.nz/iot/home/iot-customer-stories/university-of-auckland/">Can 5G deliver real-time cloud control for industrial robots?</a>
            </td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%">Jul 14, 2023</th>
            <td>
                <a class="news-title" href="https://itbrief.co.nz/story/uoa-conducts-industrial-robotics-5g-trial-with-spark">UoA conducts industrial robotics 5G trial with Spark</a>
            </td>
          </tr>

          <tr>
            <th scope="row" style="width: 20%">Jul 13, 2023</th>
            <td>
                <a class="news-title" href="https://www.auckland.ac.nz/en/news/2023/07/13/future-of-industrial-robotics.html">Big potential for future of industrial robotics</a>
            </td>
          </tr>
                    <tr>
            <th scope="row" style="width: 20%">Jun 15, 2021</th>
            <td>
                <a class="news-title" href="https://www.auckland.ac.nz/en/news/2021/06/15/a-robot-to-help-workers-on-the-factory-floor.html">A robot to help workers on the factory floor</a>
            </td>
          </tr>

      </table>
    </div>
</div>