<div class="news">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      <tr>
            <th scope="row" style="width: 20%">Oct 21, 2023</th>
            <td>
                <a class="news-title" href="https://www.youtube.com/watch?v=rDinvHYYLCk">Research aspirations towards empathetic human-robot collaboration</a>
            </td>
          </tr>
                          <tr>
            <th scope="row" style="width: 20%">July 18, 2023</th>
            <td>
                <a class="news-title" href="https://www.sftichallenge.govt.nz/blending-cutting-edge-science-and-commercial-potential/">Blending cutting-edge science and commercial potential</a>
            </td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%">July 13, 2023</th>
            <td>
                <a class="news-title" href="https://www.auckland.ac.nz/en/news/2023/07/13/future-of-industrial-robotics.html">Big potential for future of industrial robotics</a>
            </td>
          </tr>

      </table>
    </div>
</div>